

    body{
        background-color: black;
        color: white;

    }

    a{

        color: bisque;
        
    }
    a:hover{
            color: aliceblue;
            font-weight: bold;


    }
    h2{

        text-decoration: underline;
    }
    .mygrün{

        color: greenyellow;
    }

    